 /* ==========================================================================
    vuepress default theme constants overrides
    ========================================================================== */

/**
 * vuepress' 1.x release split style overrides into 2 APIs
 * `palette.styl` and `index.styl` are nested inside `styles` folder 
 * this is due to issues with styles being duplicated multiple times
 *
 * vuepress uses stylus, 'efficient, dynamic, & feature-rich CSS built for nodejs'
 * stylus supports both indented and regular CSS syntax
 * more information can be found here: http://stylus-lang.com
 *
 * if you typically write python code, use stylus' indent syntax!
 * it's a CSS pre-processor so regular CSS syntax works too.
 *
 */

// default color changes
$accentColor = #27b1ff;
$textColor = #4d606e;
$borderColor = lighten(#a5b4be, 50%);
$codeBgColor = #fbfcfd;
$arrowBgColor = $textColor;

// responsive layouts
$navbarHeight = 3.75rem;
$sidebarWidth = 20rem;
$contentWidth = 46.25rem;

// responsive breakpoints
$MQNarrow = 60rem;
$MQMobile = 45rem;
$MQMobileNarrow = 26.25rem;